<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>&#089;&#097;&#097;&#107;&#111;&#118;&#032;&#071;&#097;&#109;&#108;&#105;&#101;&#108;</title>
  <meta name="author" content=&#089;&#097;&#097;&#107;&#111;&#118;&#032;&#071;&#097;&#109;&#108;&#105;&#101;&#108;>
  <meta name="description" content="A website about... me?">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/styles.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">

    <div class="sixteen columns">
      <div class="twelve columns alpha">
        <h1>&#089;&#097;&#097;&#107;&#111;&#118;&#032;&#071;&#097;&#109;&#108;&#105;&#101;&#108;</h1>
      </div>

      <div class="four columns omega">
        <p>
          <a href="http://yasha0x80.tumblr.com"><img src="images/tumblr.png"></a>
          <a href="http://github.com/yasha0x80"><img src="images/github.png"></a>
          <a href="http://twitter.com/yaakov_g"><img src="images/twitter.png"></a>
          <a href="http://alpha.app.net/yaakov_g"><img src="images/appdotnet.png"></a>
        </p>
      </div>
    </div>

    <div class="sixteen columns">
      <p>I'm an iOS developer currently playing with stuff at <a href="http://www.sergata.com">Sergata Mobile</a>. You can check out what I'm up to in <a href="http://yaakov.roon.io">Roon.io</a> and <a href="http://twitter.com/yaakov_g">Twitter</a>.</p>
    </div>

    <div class="sixteen columns">
      <h3>Projects</h3>
      <p>Here I'm just trying to put some <a href="https://github.com/yasha0x80?tab=repositories">stuff </a>together.</p>
		  <p>Take a look and give me a hand:</p>
      <ul>
        <li><a href="https://github.com/yasha0x80/Recordify">Recordify</a>: Simple way to record</li>
      </ul>
    </div>

  </div>

  
</body>
</html>
